.alertMessHigh {

    background-color: rgb(248, 153, 153);
    height: 50px;
    font-size: 35px;
    text-align: left;
    border: 2px;

}

.alertMessLow {
    background-color: rgb(83, 147, 248);
    height: 40px;
    height: 50px;
    font-size: 35px;
    text-align: left;
}

.alertMessOk {
    background-color: rgb(141, 255, 112);
    height: 50px;
    font-size: 35px;
    text-align: left;
}

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* width: 800px;
    height: 1200px; */

}

#guessBox {
    height: 50px;
    width: 360px;
}